<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">이름</Data></Cell>
        <Cell><Data ss:Type="String">기수</Data></Cell>
        <Cell><Data ss:Type="String">전화번호</Data></Cell>
      </Row>
    <% @comments.each do |comment| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= comment[:name] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= comment[:gisu] %></Data></Cell>
        <Cell><Data ss:Type="String"><%= comment[:phone] %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>