<div class="form-group">

  <div class="input-group">
    <div class="input-group-addon">
      <i class="entypo-user"></i>
    </div>

    <%= f.text_field :phone_number, class: "form-control", placeholder: "전화번호", autocomplete: "off" %>
  </div>

</div>