<div class="form-container main_form">
  <div class="row">
    <div class="col-md-12">
      <div id="notice-top">
        <%= image_tag("snu_habitat.jpg", id: "emblem") %>
      </div>
      <div class="col-sm-4 col-sm-offset-4">
        <%= link_to image_tag("kakao_account_login_btn_large_wide.png", class: "btn btn-default btn-block"), '/auth/kakao' %>
      </div>
    </div>
  </div>
</div>

<style>
#notice-top {
  text-align:center;
  margin-bottom: 20px;
}
body{
  background-color: rgb(209, 218, 201);
}
#emblem{
  width:70%;
  max-width:320px;
}
</style>