<div class="form-container main_form">
  <div class="row">
    <div id="login-form">
      <div id="notice-top">
        <%= image_tag("snu_habitat.jpg", id: "emblem", class: "img-thumbnail") %>
      </div>
      <%= link_to image_tag("kakao_account_login_btn_large_wide.png", class: "btn btn-link", id: "kakao-img"), '/auth/kakao' %>
    </div>
  </div>
</div>