<%= render template: 'notices/show' %>
<% if @notice.due_date - 3.days < Date.today %>
  <div>마감ㅋㅋㅋㅋㅋ </div>
<% elsif current_user.responsed_to?(@notice) %>
  <div>너 이미 신청했어. </div>
<% else %>
  <%= link_to "참가", notice_to_responses_path, method: :post, class: "btn btn-default" %>
<% end %>