// Place all the styles related to the admin/gates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sms-text {
  padding:0 20px 20px;
}

.fix-bottom {
  position: fixed;
  bottom: 0;
  background-color:white;
  left:0;
  width:100%
}

.nav-tabs .secondary-nav {
  float:right;
  margin-left:10px;
  margin-right:0;
}

.sms-text{
  border-top:1px solid #ccc;
  display:none;
}

.show-sms {
  margin-bottom:250px;
}

.notice-unreader {
  margin-top: 80px
}

.margin-top15 {
  margin-top: 15px
}

.show-memo {
  display: inline-block;
}

.hide-memo {
  display: none;
}

.memo {
  display: inline;
  margin-left:10px;
}

.memo-edit {
  width:300px;
}

.memo-content {
  display: inline-block;
}

.button-group {
  display: inline-block;
}

.glyphicon-group {
  display: inline;
  margin-left:10px;
}

#to-option, #checklist-option {
  display:none;
}

.input-group[class*="col-"] {
  padding-right: 15px;
  padding-left: 15px;

  .assign-btn {
    height:46px;
  }
}

.remove-memo-btn {
  cursor: pointer;
}

.edit-memo-btn {
  cursor: pointer;
}