<div class="main-content">
  <%= form_for [current_club, :admin, @activity], html: {role: "form", class: "form-horizontal"} do |f|%>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          활동 수정하기
        </div>
      </div>
      <div class="panel-body">
        <%= render partial: 'form', locals: {f: f} %>
      </div>
    </div>

    <p class="pull-right">
      <%= f.submit "수정", class: "btn btn-warning btn-lg btn-icon"  %>
      <%= link_to club_admin_root_path(current_club) do %>
        <button type="button" class="btn btn-default btn-lg btn-icon">
          취소
        </button>
      <% end %>
    </p>
  <% end %>
</div>