/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_self
*= require_tree .
*/

@import "http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(asset_path('glyphicons-halflings-regular.eot'));
  src: url(asset_path('glyphicons-halflings-regular.eot?#iefix')) format('embedded-opentype'), url(asset_path('glyphicons-halflings-regular.woff')) format('woff'), url(asset_path('glyphicons-halflings-regular.ttf')) format('truetype'), url(asset_path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular')) format('svg');
}


html {
  height:100%;
}

body {
  height:100%;
}

textarea.textcomplete {
    resize: none;
}

.without-sidebar {
  padding-left: 0 !important;
}

.ari-center {
  text-align: center;
  margin: 0 auto;
}

.ari-site-header {
  backgroud-color: green;
}

.ari-navber {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
}

.ari-navbar-nav {
  font-size: 13px;
}

.ari-container {
  padding-left: 0px !important;
}

.ari-tmtime {
  text-align: right;
  padding-right: 120px !important;
}

.ari-badge-progress {
  float: right;
  width: 100px;
}

.ari-tile {
  height: 150px;
}

.ari-badge-progress-detail {
  height: 17px !important;
  margin-bottom: 17px !important;
  margin-top: 20px !important;
}

.ari-badge-pie-detail {
  height: 54px;
}

.ari-badge-pie {
  float: right;
}

.ari-alert {
  font-size: 13px;
}

.ari-white-label {
  color: #F5F5F5;
}

.ari-checkbox {
  display:inline !important;
}

.ari-flow-list {
  margin-top: 15px;
}

.ari-top-buttons  {
  margin-bottom: 15px;
}

.ari-activity-title {
  color: black;
}

.ari-activity-title:hover {
  color: #727575;
}

.ari-activity-title-area {
  display:inline;
  font-size: 20px !important;
}

.main-content h2 {
  font-weight: bold;
}

.ari-activity-tile {
  min-height: 120px;
}

.ari-notice-group {
  margin-top: 5px;
}

.ari-site-header {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ari-site-nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ari-site-logo {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ari-tile {
  padding: 10px 20px 20px 20px !important;
}

.ari-p {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.ari-tile-progress {
  margin-top: 30px !important;
}

.ari-tile-header {
  padding-bottom: 20px !important;
}

.ari-tile-footer {
  padding: 10px !important;
}

.ari-notice-ul {
  list-style : none;
  padding-left: 0;
}

.ari-notice-li {
  margin-bottom: 10px;
}

.ari-notice-li-top {
  margin-bottom: 30px;
}

.ari-form-control {
  width: 300px !important;
}

.ari-input-calendar {
  width: 0 !important;
}

.ari-deadline-edit {
  display:inline;
}

.ari-form-group-deadline {
  margin-top:10px;
  padding-left:20px;
}

.ari-input-group {
  float:left;
  padding-left:10px;
}

.ari-file-form-control {
  height:50px !important;
}

.ari-pagination {
  margin-top: 0px !important;
  width: 100%;
  text-align: center;
}

.ari-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #949494 !important;
}

.ari-main-explain {
}

.ari-video-section {

}

.ari-video-wrap {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
}

.ari-video-wrap h1 {
  font-weight: 300;
  font-size: 46px;
  color: white;
  text-align: center;
  margin-top: 100px;
  letter-spacing: -1px;
}

.ari-video-wrap h4 {
  font-weight: 300;
  font-size: 14px;
  color: rgba(255,255,255,0.4);
  text-align: center;
  line-height: 18px;
  margin-top: 30px;
}

.ari-video {
  height: 140x;
  width: 140px;
  display: block;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 120px;
}

.ari-main-title {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px; 
}

.ari-main-title h1 {
  font-size: 50px;
}


.ari-main-explain-row {
  padding-top: 100px;
  padding-bottom: 100px;
}

.ari-price-row {
  padding-bottom: 100px;
}

.ari-price-table {
  background-color: #fff;
  margin: auto;
  color: #999;
  box-shadow: 0 0 7px rgba(0,0,0,0.3);
  position: relative;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

.ari-price-table .th {
  background-color: #f9f9f9;
  padding: 35px 15px 20px;
  font-size: 45px;
  overflow: hidden;
  text-align: center;
  color: #373e4a;
  position: relative;
}

.ari-price-table .th strong {
  font-family: Roboto;
  font-weight: normal;
  color: rgba(0,0,0,0.3);
  letter-spacing: 0.5px;
  display: block;
  font-size: 18px;
}

.ari-price-table .tr {
  display: block;
}

.ari-price-table .td {
  padding: 25px;
  text-align: center;
  vertical-align: top;
}

.ari-price-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ari-company-row {
  margin-top: 30px;
}

.ari-main-company-item {
  text-align: center;
  margin: 0 auto;
}

.ari-logo-icon {
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ari-modal-dialog {
  top: 200px;
}

.ari-footer-logo {
  display:inline;
}