.checklist-container{
  margin-top: 20px;

  .sms_assignee{
    vertical-align: text-top;
  }

  .comment-value {
    cursor:pointer;
  }

  .comment-form{
    display:none; 
  }

  .assignee-comment {
    vertical-align: top;
    margin-left: 5px;
  }
}


