// Place all the styles related to the notices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#to_progress {
  width: 100%;
}

.content {
  margin-bottom: 30px;
}

.details {
  margin-bottom: 30px;
}

.bg-content {
  background: #F3F7FF;
  padding: 10px;
}