// Place all the styles related to the notices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.checklist-feed {
  padding: 0 !important;
}

.full-width {
  width: 100% !important;
}

.notice-title {
  padding: 10px 0 0 0;
}

.notice-title a {
  float: left;
  padding-left: 15px;
  font-size: 20pt;
}

.notice-content-container {
  padding-top: 10px;
}

.notice-content {
  padding-top: 20px;
}

.notice-content p {
  color: #333333;
  font-size: 14pt;
  margin-bottom: 30px;
}

.details {
  margin-bottom: 30px;
}

.register-status {
  margin: 12px 0 0 10px;
}

.mention {
  margin-right: 25px;
}

#to_progress {
  width: 100%;
}

.checklist-container {
  margin-left: -120px;
}

#checklist-option{

  .glyphicon{
    right: 100px;
  }

  .input-group-btn{
    vertical-align: top;
  }

}