  <section class="portfolio-item-details">
    <div class="container">
      <div class="row item-title">
        <div class="col-sm-9">
          <h1>새로 만들기</h1>
          <div class="categories">
            <a></a>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="text-right">
            <div class="item-detail">
            </div>
            <div class="item-detail">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="portfolio-container">
    <div class="container">
      <%= form_for [current_club, :admin, @notice], html: {role: "form", class: "form-horizontal"} do |f|%>
        <div class="panel panel-primary">
          <div class="panel-body">
            <%= render partial: 'form', locals: {f: f} %>
            <p class="pull-right">
              <%= f.button type: :submit, class: "btn btn-blue btn-lg btn-icon" do %>
                등록<i class="entypo-check"></i>
              <% end %>
              <%= link_to club_admin_root_path(current_club) do %>
                <button type="button" class="btn btn-red btn-lg btn-icon">
                  취소<i class="entypo-cancel"></i>
                </button>
              <% end %>
            </p>
          </div>
        </div>


      <% end %>
    </div>
  </section>