<% unless footer_disable? %>
  <section class="footer-widgets">
    <div class="container">
      
      <div class="row">
        
        <div class="col-sm-6">
          
          <h5>Sponsers</h5>

          <div class="ari-footer-logo">
            <%= image_tag("logo0.gif", width:"110")%> &nbsp
            <%= image_tag("logo1.gif") %> &nbsp
            <%= image_tag("logo2.gif") %>
          </div>
          
        </div>
        
        <div class="col-sm-3">
          
          <h5>Copyright</h5>

          <p>
            Copyright Donutworks Software Maestro #5 <br>
            All Rights Reserved.
          </p>
          
        </div>
        
        <div class="col-sm-3">
          
          <h5>Contact</h5>
          
          <p>
            Phone: +82 (10) 8783 6087 <br>
            admin@aritor.net
          </p>
          
        </div>
        
      </div>
      
    </div>
    
  </section>
<% end %>